{% extends "base.html" %}
{% load static %}
{% load macros %}

{% loadmacros "chat/macros.html" %}

{% block title %}#{{ room_name }} - {% endblock %}

{% block scripts %}
  {{ chat_settings|json_script:"chat-settings" }}
  <script src="{% static "scripts/chat.js" %}"></script>
{% endblock %}

{% block content %}
<main id="chat"  class="container pt-2">
	<div>
		<h1 class="d-md-flex d-none"><div>Chat</div><div class="ml-auto small"><i class="fa fa-sm fa-user"></i><span data-chat-usercount>{{ usercount }}</span></div></h1>
		<h3 class="d-md-none d-flex"><div>Chat</div><div class="ml-auto small"><i class="fa fa-sm fa-user"></i><span data-chat-usercount>{{ usercount }}</span></div></h3>
	</div>

	<div class="w-100" style="height:70vh">
    <div class="d-flex flex-column h-100 w-100">
      <div class="flex-grow-1" style="overflow-y: scroll" data-chat-scroll-container>
        <div class="w-100 chat-log" data-chat-log>
        </div>
      </div>
      <div class="row">
        <div class="col-8 col-sm-9 col-md-10">
          <input id="chat-message-input" type="text" class="form-control" placeholder="Message... (/help)" maxlength="200" data-chat-input />
        </div>
        <div class="col-4 col-sm-3 col-md-2">
          <input id="chat-message-submit" type="button" class="form-control" value="Send" data-chat-submit />
        </div>
      </div>
    </div>
	</div>
</main>

{% usemacro templates moderator %}

<style>
  .chat-log { overflow-wrap: anywhere; }
  .chat-message:nth-child(odd) { background-color: rgba(0,0,0,.05); }
  .chat-message-system { color: #6c757d; }
  .chat-message-whisper-received > .chat-message-inner {
    background-color: rgba(255,0,0,.2);
  }
  .chat-message-whisper-sent > .chat-message-inner {
    background-color: rgba(0,0,255,.125);
  }
</style>
{% endblock %}