{% load i18n %}
{% load is_bbb_mod %}

<div class="row">
	<div class="col-sm-8 col-12 py-1">
		{% if LANGUAGE_CODE == "de" %}
		Kontaktiere diesen Partner in einer Videokonferenz
		{% else %}
		Contact this partner in a video conference
		{% endif %}
	</div>
	<div class="col-sm-4 col-12 py-1">
		{% if partner.bbb.get_stats.running %}
		<a class="btn btn-primary btn-lg w-100" href="{{ partner.bbb.link }}" role="button">
			Join
		</a>
		{% elif partner.bbb|is_bbb_mod:request.user %}
		<a class="btn btn-primary btn-lg w-100" href="{{ partner.bbb.link }}" role="button">
			Start
		</a>
		{% else %}
		<div class="btn btn-secondary btn-lg w-100 disabled" role="button">
			Join
		</div>
		{% endif %}
		{% if partner.bbb.get_stats.running %}<br/><center><span style='font-size:12px'>{{ partner.bbb.get_stats.participants }} Teilnehmer</span></center>{% endif %}
		{% if partner.bbb and not partner.bbb.get_stats.running %}<br/><center><span style='font-size:12px'>{% if LANGUAGE_CODE == "de" %}Dieser Raum ist (noch) nicht aktiv{% else %}This room is not (yet) active{% endif %}</span></center>{% endif %}
	</div>
</div>

