{% extends "base.html" %}
{% load i18n %}

{% block title %}BBB - {{ room.name }} - {% endblock %}
{% block body_class %}wide{% endblock  %}
{% block page_class %}page h-100{% endblock  %}

{% block content %}
<main class="full-height-content m-0" style="overflow-y:hidden">
	<!--@TODO: Look into sandbox attribute-->
	<iframe src="{{ meeting }}" allow="camera; autoplay; microphone; fullscreen; display-capture" allowfullscreen allowusermedia sandbox="allow-top-navigation" class="full-size"></iframe>
</main>
{% endblock %}

{% block footer %}
	{% include "slim_footer.html" %}
{% endblock %}