{% extends "bbb/dialog.html" %}
{% load i18n %}

{% block content %}
{% if LANGUAGE_CODE == "de" %}
<h1 class="title">Sitzung geschlossen</h1>
<div class="text">
    <p>Du hast die Sitzung verlassen.</p>
    <p>Du wirst automatisch auf die Übersicht zurückgeleitet. Sollte das nicht passieren klicke einfach unten auf den Knopf.</p>
</div>
{% else %}
<h1 class="title">Session closed</h1>
<div class="text">
    <p>You have left the session.</p>
    <p>You will automatically be redirected back to the overview page. If this doesn't happen you can just click on the button below..</p>
</div>
{% endif %}

<a class="button" href="/event" target="_top">
    <span class="label">{% if LANGUAGE_CODE == "de" %}Zurück{% else %}Return{% endif %}</span>
</a>

{% endblock %}


{% block scripts %}
<script type="text/javascript">
    window.setTimeout(()=>{
        window.top.location.href = window.location.origin + '/event'
    }, 1000)
</script>
{% endblock %}