{% extends "base.html" %}
{% load i18n %}

{% block title %}BBB - {{ room.name }} - {% endblock %}
{% block body_class %}wide overflow-hidden{% endblock  %}
{% block page_class %}page h-100{% endblock  %}

{% block content %}
<main class="full-height-content m-0" style="overflow-y:hidden">
	<iframe id="frame" src="{{ meeting }}" allow="camera; autoplay; microphone; fullscreen; display-capture"
		allowfullscreen allowusermedia 
		sandbox="allow-downloads-without-user-activation allow-downloads allow-pointer-lock allow-presentation allow-same-origin allow-storage-access-by-user-activation allow-forms allow-scripts allow-top-navigation allow-top-navigation-by-user-activation allow-popups"
		class="full-size"></iframe>
	<a  class="p-1" style="position:absolute; bottom:3.5rem; right:0px;" data-toggle="frame-expand" data-target="#frame" href="#">
		<i class="fa fa-expand-arrows-alt"></i>
	</a>
	<a  class="p-1 pr-2" style="position:absolute; bottom:0px; right:0px; display:none;" data-toggle="frame-compress" data-target="#frame" href="#">
		<i class="fa fa-compress-arrows-alt"></i>
	</a>
</main>
{% endblock %}

{% block footer %}
	{% include "slim_footer.html" %}
{% endblock %}
{% block scripts %}
<script type="text/javascript">
document.body.addEventListener('click',(event)=>{
	const target = event.target.closest('[data-toggle=frame-expand][href],[data-toggle=frame-expand][data-target]');
	if (!target)
		return;
	
	event.preventDefault();

	const selector = target.hasAttribute('data-target') ? target.getAttribute('data-target') : target.getAttribute('href');
	document.querySelectorAll(selector)
			.forEach((e) => {
				e.style.position = 'absolute';
				e.style.top = '0px';
				e.style.bottom = '0px';
			});
	document.querySelectorAll(`[data-toggle=frame-expand]`)
			.forEach((e) => {
				e.style.display = 'none';
			});
	document.querySelectorAll(`[data-toggle=frame-compress]`)
			.forEach((e) => {
				e.style.display = null;
			});
});

document.body.addEventListener('click',(event)=>{
	const target = event.target.closest('[data-toggle=frame-compress][href],[data-toggle=frame-compress][data-target]');
	if (!target)
		return;
	
	event.preventDefault();

	const selector = target.hasAttribute('data-target') ? target.getAttribute('data-target') : target.getAttribute('href');
	document.querySelectorAll(selector)
			.forEach((e) => {
				e.style.position = null;
				e.style.top = null;
				e.style.bottom = null;
			});
	document.querySelectorAll(`[data-toggle=frame-expand]`)
			.forEach((e) => {
				e.style.display = null;
			});
	document.querySelectorAll(`[data-toggle=frame-compress]`)
			.forEach((e) => {
				e.style.display = 'none';
			});
});
</script>
{% endblock %}
