{% extends "base.html" %}
{% load i18n %}
{% load is_bbb_mod %}
{% load static %}

{% block content %}
<main class="container">
	<h1>Stream Control</h1>
	<div class="row">
		<div class="col">
			{% if room.live %}
			Stream is currently <span style="color:green;">enabled</span>!
			<form action="" method="post">
				{% csrf_token %}
				<input type="hidden" name="live" value="0"/>
				<input type="submit" value="DISABLE" />
			</form>
			{% else %}
			Stream is currently <span style="color:red;">disabled</span>!
			<form action="" method="post">
				{% csrf_token %}
				<input type="hidden" name="live" value="1"/>
				<input type="submit" value="ENABLE" />
			</form>
			{% endif %}
		</div>
	</div>
</main>
{% endblock %}
