{% extends "base.html" %}
{% load static %}
{% load staticpage %}

{% block header %}
<header>
	<div class="container jumbotron">
		<div class="float-right lang-select">
			<a href="#" onclick="document.getElementById('langform').submit();">
				{% if LANGUAGE_CODE == "de" %}
				<img src="{% static "images/us.png" %}" alt="en"> English
				{% else  %}
				<img src="{% static "images/de.png" %}" alt="en"> Deutsch
				{% endif %}
			</a>
		</div>
		<img class="logo mb-3" src="{% static "images/title_logo.jpg" %}" alt="FrOSCon 2020 - Cloud Edition" />
		<p>{{ 'landingpage-header'|staticpage:LANGUAGE_CODE|safe }}</p>
		<div class="row">
			{% if LANGUAGE_CODE == "de" %}
			<div class="col-sm-6 col-12 py-1">
				<a class="btn btn-primary btn-lg w-100" href="/event" role="button">Zur Veranstaltung</a>
			</div>
			<div class="col-sm-6 col-12 py-1">
				<a class="btn btn-primary btn-lg w-100" href="https://programm.froscon.de/2020/" role="button">Fahrplan</a>
			</div>
			{% else %}
			<div class="col-sm-6 col-12 py-1">
				<a class="btn btn-primary btn-lg w-100" href="/event" role="button">To the Event</a>
			</div>
			<div class="col-sm-6 col-12 py-1">
				<a class="btn btn-primary btn-lg w-100" href="https://programm.froscon.de/2020/" role="button">Schedule</a>
			</div>
			{% endif %}
		</div>
	</div>
</header>
{% endblock %}
{% block content %}
<main class="container">
	{% if LANGUAGE_CODE == "de" %}
	<h2>Partner</h2>
	{% else %}
	<h2>Partners</h2>
	{% endif %}
	<div class="row align-items-center align-content-around text-center mb-4 w-100 venue-partners">
		{% for partner in partners %}
		{% if partner.bbb %}
		<figure class="col partner-logo">
			<a href="/partner/{{ partner.id }}" title="{{ partner.name }}">
				<img src="{{ partner.logo.url }}" alt="{{ partner.name }}" />
			</a>
		</figure>
		{% endif %}
		{% endfor %}
	</div>
	<div class="row align-items-center align-content-around text-center w-100">
		{% for partner in partners %}
		{% if not partner.bbb %}
		<figure class="col partner-logo">
			<a href="/partner/{{ partner.id }}" title="{{ partner.name }}">
				<img src="{{ partner.logo.url }}" alt="{{ partner.name }}" />
			</a>
		</figure>
		{% endif %}
		{% endfor %}
	</div>
	<div class="landing-page-explaination">
		{{ 'landingpage-explanation'|staticpage:LANGUAGE_CODE|safe }}
	</div>
</main>
{% endblock %}
