{% extends "base.html" %}
{% load static %}

{% block header %}
<header>
	<div class="container jumbotron">
		<a class="lang-select" href="#" onclick="document.getElementById('langform').submit();">
				{% if LANGUAGE_CODE == "de" %}
				<img src="{% static "images/us.png" %}" alt="en"> English
				{% else  %}
				<img src="{% static "images/de.png" %}" alt="en"> Deutsch
				{% endif %}
		</a>
		<img class="title-logo mb-3" src="{% static "images/title_logo.jpg" %}" alt="FrOSCon 2020 - Cloud Edition" />
		{% if LANGUAGE_CODE == "de" %}
		<p>Da die FrOSCon dieses Jahr leider nicht vor Ort stattfinden kann findet sie dieses mal online statt. Alles was du benötigst um teilzunehmen ist Internet und euren Webbrowser. Klicke einfach auf den Knopf unten um direkt zur Veranstaltung zu gelangen.</p>
		{% else %}
		<p class="en">Because the FrOSCon this year sadly not on location taking place can takes it this time online place. All that you need to participace is Internet and your Webbrowser. Click only on the button down to directly to event to go.</p>
		{% endif %}
		<div class="row">
			{% if LANGUAGE_CODE == "de" %}
			<div class="col-sm-4 col-12 py-1">
				<a class="btn btn-primary btn-lg w-100" href="#" role="button">Zur Veranstaltung</a>
			</div>
			<div class="col-sm-4 col-12 py-1">
				<a class="btn btn-primary btn-lg w-100" href="#" role="button">Zu den Vorträgen</a>
			</div>
			<div class="col-sm-4 col-12 py-1">
				<a class="btn btn-primary btn-lg w-100" href="#" role="button">Fahrplan</a>
			</div>
			{% else %}
			<div class="col-sm-4 col-12 py-1">
				<a class="btn btn-primary btn-lg w-100" href="#" role="button">To the Event</a>
			</div>
			<div class="col-sm-4 col-12 py-1">
				<a class="btn btn-primary btn-lg w-100" href="#" role="button">To the Lectures</a>
			</div>
			<div class="col-sm-4 col-12 py-1">
				<a class="btn btn-primary btn-lg w-100" href="#" role="button">Schedule</a>
			</div>
			{% endif %}
		</div>
	</div>
</header>
{% endblock %}
{% block content %}
<main class="container">
	<h2>Partner</h2>
	<div class="row align-items-center align-content-around text-center w-100">
		{% for partner in partners %}
		<figure class="col partner-logo">
			<a href="{{ partner.url }}" target="_blank" title="{{ partner.name }}">
				<img src="{{ partner.logo.url }}" alt="{{ partner.name }}">
			</a>
		</figure>
		{% endfor %}
	</div>
	<div class="de">
		{% if LANGUAGE_CODE == "de" %}
		<h2>Wie es funktioniert</h2>
		<p>Um an der Veranstaltung teilnehmen zu können musst du nur dem Link folgen. Du wirst dann auf das Veranstaltungsportal geleitet, das die Vortragslivestreams zeigt aber auch als Social Hub fungiert. Du kannst dich dort in Text-Chaträumen und Videochaträumen mit anderen Teilnehmern und Vortragenden austauschen. Auch die Workshops finden dort statt. Du musst dich nirgendwo anmelden, lediglich einen Namen musst du angeben, sodass du an den Text- und Videochats teilnehmen kannst.</p>
		<p>Solltet du jedoch nur die Vorträge sehen wollen kannst du das natürlich auch tun. Dazu kannst du die Vorträge auch direkt auf <a href="https://media.ccc.de">media.ccc.de</a> als Livestream und später auch als Aufnahme anschauen.</p>
		<p>Falls du wissen möchtest welche Vorträge und Workshops wann laufen kannst du einen Blick in den <a>Fahrplan</a> werfen. Livestreams kannst du dir entweder über das Veranstaltungsportal oder media.ccc.de ansehen, die Teilnahme an Workshops ist aber nur über das Veranstaltungsportal möglich.</p>
		{% else %}
		<h2>How it works</h2>
		<p>If only we would know...</p>
		{% endif %}
	</div>
</main>
{% endblock %}
