{% extends "base.html" %}
{% load static %}
{% load staticpage %}

{% block header %}
<header>
	<div class="container jumbotron">
		<div class="float-right lang-select">
			<a href="#" onclick="document.getElementById('langform').submit();">
				{% if LANGUAGE_CODE == "de" %}
				<img src="{% static "images/us.png" %}" alt="en"> English
				{% else  %}
				<img src="{% static "images/de.png" %}" alt="en"> Deutsch
				{% endif %}
			</a>
		</div>
		<img class="logo mb-4" src="{% static "images/title_logo.png" %}" alt="FrOSCon 2020 - Cloud Edition" />
		<p>{{ 'landingpage-header'|staticpage:LANGUAGE_CODE|safe }}</p>
		<div class="row">
			{% if page_live %}
			{% if LANGUAGE_CODE == "de" %}
			<div class="col-sm-6 col-12 py-1">
				<a class="btn btn-primary btn-lg w-100" href="/event" role="button">Zur Veranstaltung</a>
			</div>
			<div class="col-sm-6 col-12 py-1">
				<a class="btn btn-primary btn-lg w-100" href="https://programm.froscon.de/2020/" role="button">Fahrplan</a>
			</div>
			{% else %}
			<div class="col-sm-6 col-12 py-1">
				<a class="btn btn-primary btn-lg w-100" href="/event" role="button">To the Event</a>
			</div>
			<div class="col-sm-6 col-12 py-1">
				<a class="btn btn-primary btn-lg w-100" href="https://programm.froscon.de/2020/" role="button">Schedule</a>
			</div>
			{% endif %}
			{% else %}
			<div class="col-sm-12 col-12 py-1">
				<div class="btn btn-secondary btn-lg w-100 disabled">{% if LANGUAGE_CODE == "de" %}BALD GEHTS LOS{% else %}STARTING SOON{% endif %}</div>
			</div>
			{% endif %}
		</div>
	</div>
</header>
{% endblock %}
{% block content %}
<main class="container">

	{% if venue_partners or venueless_partners %}
	<div class="d-flex w-100">
		<div>
			{% if LANGUAGE_CODE == "de" %}
			<h2>Partner</h2>
			{% else %}
			<h2>Partners</h2>
			{% endif %}
		</div>
		<div class="ml-auto">
			<a class="btn btn-secondary ml-auto" href="https://www.froscon.de/partner/jobwall/">
				Job Wall
				<i class="fa fa-angle-double-right"></i>
			</a>
		</div>
	</div>
	{% if venue_partners %}
	<div class="row align-items-center align-content-around text-center mb-4 w-100 venue-partners">
		{% for partner in venue_partners %}
		<figure class="col partner-logo">
			{% if page_live %}<a href="/partner/{{ partner.id }}" title="{{ partner.name }}">{% endif %}
				<img src="{{ partner.logo.url }}" alt="{{ partner.name }}" />
			{% if page_live %}</a>{% endif %}
		</figure>
		{% endfor %}
	</div>
	{% endif %}
	{% if venueless_partners %}
	<div class="row align-items-center align-content-around text-center w-100">
		{% for partner in venueless_partners %}
		<figure class="col partner-logo">
			{% if page_live %}<a href="/partner/{{ partner.id }}" title="{{ partner.name }}">{% endif %}
				<img src="{{ partner.logo.url }}" alt="{{ partner.name }}" />
			{% if page_live %}</a>{% endif %}
		</figure>
		{% endfor %}
	</div>
	{% endif %}
	{% endif %}
	{% if page_live %}
	<div class="landing-page-explaination">
		{{ 'landingpage-explanation'|staticpage:LANGUAGE_CODE|safe }}
	</div>
	{% endif %}
</main>
{% endblock %}
