{% extends "base.html" %}
{% block page_class %}page h-100{% endblock  %}

{% block content %}
<main class="container full-height-content">
  <div class="d-flex flex-column h-100">
    <div>
	    <h1>Chat</h1>
    </div>
    <div id="chat-scroll-container" class="flex-grow-1" style="overflow-y: scroll">
      <table id="chat-log" class="w-100 table table-striped table-sm">
        <tbody class="w-100">
          {% for message in backlog %}
          <tr>
            <td>{{ message.date }}</td><td>{{ message.sender }}</td><td>{{ message.content }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <style>
        #chat-log { overflow-wrap: anywhere; }
        #chat-log td:nth-child(1), #chat-log td:nth-child(2) {
          width: 10em;
        }
      </style>
    </div>
    <div class="row">
      <div class="col-10">
        <input id="chat-message-input" type="text" class="form-control" placeholder="Message..." maxlength="200" />
      </div>
      <div class="col-2">
        <input id="chat-message-submit" type="button" class="form-control" value="Send" />
      </div>
      {{ room_name|json_script:"room-name" }}
    </div>
  </div>
</main>

<script>
	const roomName = JSON.parse(document.getElementById('room-name').textContent);

  function scrollChatDown() {
    document.querySelector('#chat-scroll-container').scrollTo(0, document.querySelector('#chat-scroll-container').scrollHeight)
  }
  scrollChatDown();

  var chatSocket;
  function connect() {
    if (window.location.protocol == 'https:' ) {
      chatSocket = new WebSocket('wss://' + window.location.host + '/ws/chat/' + roomName + '/');
    } else {
      chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/' + roomName + '/');
    }
    chatSocket.onopen = function() {
      console.log('WS connected')
    };

    chatSocket.onmessage = function(e) {
      console.log('WS message:', e.data);
      const message = JSON.parse(e.data).message;
      const row = document.createElement('tr');
      row.appendChild(document.createElement('td'))
          .appendChild(document.createTextNode(message.date))
      row.appendChild(document.createElement('td'))
          .appendChild(document.createTextNode(message.sender))
      row.appendChild(document.createElement('td'))
          .appendChild(document.createTextNode(message.content));
      const chat = document.querySelector('#chat-log > tbody');
      chat.appendChild(row);
      // remove old messages
      if(chat.childNodes.length>150)
        chat.removeChild(chat.childNodes[0]);
      scrollChatDown();
    };

    chatSocket.onclose = function(e) {
      console.log('WS is closed. Reconnect will be attempted in 1 second.', e.reason);
      setTimeout(function() {
        connect();
      }, 1000);
    };

    chatSocket.onerror = function(err) {
      console.error('WS encountered error: ', err.message, 'Closing socket');
      ws.close();
    };
  }
  connect();

	document.querySelector('#chat-message-input').focus();
	document.querySelector('#chat-message-input').onkeyup = function(e) {
		if (e.keyCode === 13) {  // enter, return
			document.querySelector('#chat-message-submit').click();
		}
	};

	document.querySelector('#chat-message-submit').onclick = function(e) {
		const messageInputDom = document.querySelector('#chat-message-input');
		const message = messageInputDom.value;
		chatSocket.send(JSON.stringify({
				'message': message
		}));
		messageInputDom.value = '';
    scrollChatDown();
	};

  scrollChatDown();
</script>
{% endblock %}
