{% extends "base.html" %}
{% load static %}
{% load macros %}

{% loadmacros "macros.html" %}

{% block title %}#{{ room_name }} - {% endblock %}

{% block scripts %}
  {{ room_name|json_script:"room-name" }}
  {{ user_name|json_script:"user-name" }}
  <script src="{% static "scripts/chat.js" %}"></script>
{% endblock %}

{% block content %}
<main class="container">
	<div>
		<h1 class="d-md-block d-none">Chat</h1>
		<h3 class="d-md-none d-block">Chat</h3>
	</div>

	<div id="chat" class="w-100 aspect-ration-16-9" style="position: relative;">
		<div class="p-absolute w-100 h-100" style="position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px;" >
      <div id="chat" class="d-flex flex-column h-100 w-100">
        <div class="flex-grow-1" style="overflow-y: scroll" data-chat-scroll-container>
          <div class="w-100 chat-log" data-chat-log>
              {% for message in backlog %}
              {% if message.type == "chat_message" %}
              {% usemacro chat_message message.date message.sender message.receiver message.content is_chat_moderator %}
              {% elif message.type == "system_message" %}
              {% usemacro system_message message.date message.sender message.receiver message.content is_chat_moderator %}
              {% endif %}
              {% endfor %}
          </div>
        </div>
        <div class="row">
          <div class="col-8 col-sm-9 col-md-10">
            <input id="chat-message-input" type="text" class="form-control" placeholder="Message..." maxlength="200" data-chat-input />
          </div>
          <div class="col-4 col-sm-3 col-md-2">
            <input id="chat-message-submit" type="button" class="form-control" value="Send" data-chat-submit />
          </div>
        </div>
      </div>
		</div>
	</div>
</main>

<template id="chat_message">{% usemacro chat_message "" "" "" "" is_chat_moderator %}</template>
<template id="whisper_message_sent">{% usemacro whisper_message_sent "" "" "" "" is_chat_moderator %}</template>
<template id="whisper_message_received">{% usemacro whisper_message_received "" "" "" "" is_chat_moderator %}</template>
<template id="system_message">{% usemacro system_message "" "" "" "" is_chat_moderator %}</template>
<style>
  .chat-log { overflow-wrap: anywhere; }
  .chat-message:nth-child(odd) { background-color: rgba(0,0,0,.05); }
  .chat-message-system { color: #6c757d; }
  .chat-message-whisper-received > .chat-message-inner {
    background-color: rgba(255,0,0,.2);
  }
  .chat-message-whisper-sent > .chat-message-inner {
    background-color: rgba(0,0,255,.125);
  }
</style>
{% endblock %}