{% load macros %}

{% macro user_actions target moderator %}
    <a href="#" class="fa fa-comment-alt small" data-chat-action="whisper" data-chat-name="{{ sender }}"></a>
    {% if moderator %}<a href="#" class="fa fa-ban small" data-chat-action="ban" data-chat-name="{{ sender }}"></a>{% endif %}
{% endmacro %}

{% macro date_display date %}
  <span class="d-none d-sm-inline small text-muted" data-chat-date>{{ date }}</span>
{% endmacro %}

{% macro chat_message date sender receiver content moderator %}
<div class="chat-message w-100">
<div class="chat-message-inner w-100">
  {% usemacro date_display date %}
  <span>
    <span data-chat-sender>{{ sender }}</span>
    {% usemacro user_actions sender moderator %}
    : 
  </span>
  <span data-chat-content>{{ content }}</span>
</div>
</div>
{% endmacro %}

{% macro whisper_message_received date sender receiver content  moderator %}
<div class="chat-message chat-message-whisper chat-message-whisper-received w-100">
<div class="chat-message-inner w-100">
  {% usemacro date_display date %}
  <span>
    <span data-chat-sender>{{ sender }}</span>
    {% usemacro user_actions sender moderator %}
    <i class="ml-auto fa fa-caret-right"></i>
    : 
  </span>
  <span data-chat-content>{{ content }}</span>
</div>
</div>
{% endmacro %}

{% macro whisper_message_sent date sender receiver content moderator %}
<div class="chat-message chat-message-whisper chat-message-whisper-sent w-100">
<div class="chat-message-inner w-100">
  {% usemacro date_display date %}
  <span>
    <span data-chat-receiver>{{ receiver }}</span>
    {% usemacro user_actions receiver moderator %}
    <i class="ml-auto fa fa-caret-left"></i>
    : 
  </span>
  <span data-chat-content>{{ content }}</span>
</div>
</div>
{% endmacro %}

{% macro system_message date sender receiver content moderator %}
<div class="chat-message chat-message-system">
<div class="chat-message-inner w-100">
  {% usemacro date_display date %}
  <span>
    <span data-chat-sender>{% if sender %}{{ sender }}{% else %}*system*{% endif %}</span>
    : 
  </span>
  <span data-chat-content>{{ content }}</span>
</div>
</div>
{% endmacro %}