{% load static %}
{% load i18n %}

<footer>
	<div class="footer container">
		<div>
			<a href="https://froscon.de{% if LANGUAGE_CODE == "en" %}/en/{% endif %}">
				<img class="footer-logo" src="{% static "images/froscon_logo_small.png" %}" />
			</a>
		</div>
		<div class="row ml-auto">
			<div class="col pr-5">
				<ul>
					<li><a href="https://twitter.com/froscon"><i class="fab fa-twitter"></i> Twitter</a></li>
					<li><a href="https://bonn.social/@froscon"><i class="fab fa-mastodon"></i> Mastodon</a></li>
					<li><a href="https://www.instagram.com/froscon/"><i class="fab fa-instagram"></i> Instagram</a></li>
				</ul>
			</div>
			<div class="col">
				<ul>
					{% if LANGUAGE_CODE == "de" %}
					<li><a href="https://www.froscon.de/datenschutzerklaerung/">Datenschutzerklärung</a></li>
					<li><a href="https://www.froscon.de/impressum/">Impressum</a>
					{% else %}
					<li><a href="https://www.froscon.de/en/imprint/">Imprint</a></li>
					<li><a href="https://www.froscon.de/en/privacy-policy/">Privacy Policy</a></li>
					{% endif %}
				</ul>
			</div>
			<div class="col">
				<a class="btn btn-secondary p-4" href="https://presale.froscon.de/FrOSCon/froscon2020/">
					<i class="fa fa-heart"></i>
					{% if LANGUAGE_CODE == "de" %}Spenden{% else %}Donate{% endif %}
				</a>
			</div>
		</div>
	</div>
</footer>

