html, body {
  height: 100%;
  width: 100%;
  margin: 0px ! important;
}

.topright {
  float: right;
  text-align:right;
}

.topright a {
  color: #fff;

}

.topright a:hover {
  text-decoration: none;
  color: aqua;
}

header, header > .jumbotron { 
    background-color: #12a1db;
    color: white;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
header img.title-logo {
    max-height: 10em;
    padding: 0px;
    margin: 0px;
}
header .btn {
    background-color: #258bb5;
    border-color: #2285af;
}
header .btn:hover {
    background-color: #237da2;
    border-color: #207394;
}

.venue-partners {
  background-color: rgba(0, 0, 0, .075);
  border-radius: 1em;
  padding-top: .75em;
  padding-bottom: .25em;
}
.partner-logo img {
    max-height: 100px;
    max-width: 200px;
}
.venue-partners .partner-logo img {
  max-height: 105px;
  max-width: 240px;
}

footer{
    background-color: #404040;
    color: #999;
}
footer .row {
  margin: 0px ! important;
}

footer ul{
    padding-left: 0;
    list-style: none;
}

footer .col-3 {
  padding: 0px ! important;
}
footer a[href]{ color: #999; }
footer a[href]:hover{ color: #ccc; text-decoration: none; }


.landing-page-explaination a[href], .landing-page-main a[href]:hover { color: inherit; text-decoration: underline; }


.partneronline {
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

