html, body {
  height: 100%;
  width: 100%;
  margin: 0px ! important;
}
.page {
  min-height: 100%;
  padding-bottom: 6rem;
}
footer {
  margin-top: -6rem;
  clear: both;
  height: 6rem;
}
.page .full-height-content {
  height: 100%;
  padding-bottom: 5rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Page Filling (iframe) */
.full-size{
  width: 100%;
  height: 100%;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

/* Header */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 5rem;
}
.header div{ align-self: center; }
.header .header-logo img {
  height: 4em;
  padding: 0px;
  margin: 0px;
}
.header-controls {
  margin-left: auto;
  text-align:right;
}
.header .header-controls a, .lang-select a {
  color: #fff;
}
.header .header-controls a:hover, .lang-select a:hover {
  text-decoration: none;
  color: aqua;
}

/* Wide Header and Footer */
body.wide .header, body.wide .footer {
  max-width: 100%;
}

/* Landing Page Jumbotron Header */
header, header > .jumbotron { 
  background-color: #12a1db;
  color: white;
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
header .jumbotron .btn {
  background-color: #258bb5;
  border-color: #2285af;
}
header .jumbotron .btn:hover {
  background-color: #237da2;
  border-color: #207394;
}
header .jumbotron .logo {
  max-height: 10rem;
}

/* Partners List */
.venue-partners {
  background-color: rgba(0, 0, 0, .075);
  border-radius: 1em;
  padding-top: .75em;
  padding-bottom: .25em;
}
.partner-logo img {
  max-height: 100px;
  max-width: 200px;
}
.venue-partners .partner-logo img {
  max-height: 105px;
  max-width: 240px;
}

/* Footer */
footer {
  background-color: #404040;
  color: #999;
}
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  white-space: nowrap;
}
.footer div{ align-self: center; }
.footer ul{
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
.footer .footer-logo {
  height: 48px;
}
@media(max-width: 575px){
  .footer .footer-logo {
    height: 30px;
  }
}
@media(min-width:576px) and (max-width: 767px){
  .footer .footer-logo {
    height: 36px;
  }
}

.footer a[href]:not(.btn){ color: #999; }
.footer a[href]:not(.btn):hover{ color: #ccc; text-decoration: none; }

/* Slim Footer (requires body.wide) */
footer.slim-footer {
  margin-top: -3.5rem;
  height: 3.5rem;
}
body.wide .page {
  padding-bottom: 3.5rem;
}
footer.slim-footer .footer .footer-logo {
  height: 30px;
}


.person img {
  max-height: 100px;
  min-width: 80px;
  max-width: 100px;
}

.landing-page-explaination a[href], .landing-page-main a[href]:hover { color: inherit; text-decoration: underline; }

.partneronline img {
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  from {
    transform: scale(1,1) translateZ(0);
  }
  to {
    transform: scale(1.075,1.075) translateZ(0);
  }
}

