body.de .en{
display: none;
}
body.en .de{
display: none;
}

a[href].lang-select { color: white; position:absolute; top:0px; right: 0px; padding: .5em; }
a[href].lang-select:hover { text-decoration: none; color: aqua; }

header, header > .jumbotron { 
    background-color: #12a1db;
    color: white;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
/* header .btn { background-color: #41afff; } */
header img.title-logo {
    max-height: 10em;
    padding: 0px;
    margin: 0px;
}

.partner-logo img {
    max-height: 100px;
    max-width: 200px;
}

footer{
    background-color: #404040;
    color: #999;
}
footer ul{
    padding-left: 0;
    list-style: none;
    margin-left: -10px;
}
footer a[href]{ color: #999; }
footer a[href]:hover{ color: #ccc; text-decoration: none; }