{% extends "base.html" %}
{% load i18n %}
{% load is_bbb_mod %}

{% block title %}{{ event.title }} - {% endblock %}

{% block content %}
<main class="container">
	<h1>{{ event.title }}</h1>
	<div class="row">
		<div class="col">
			{% if event.logo %}<img src="{{ event.logo }}" style="float:right;margin-left:12px;margin-bottom:12px;max-width:256px;max-height:256px;" />{% endif %}
			<i>{{ event.abstract|linebreaks }}</i>
			{{ event.description|linebreaks }}
		</div>
	</div>
	{% for person in event.persons.all %}
	<div class="row">
		<div class="col">
			{% if person.image %}<img src="{{ person.image }}" />{% endif %} <a href="/person/{{ person.id }}">{{ person.name }}</a>
		</div>
	</div>
	{% endfor %}
</main>
{% endblock %}
