{% extends "base.html" %}
{% load i18n %}
{% load is_bbb_mod %}
{% load render_widget %}


{% block scripts %}
{% if announcements %}
{{ announcements_widget|render_widget_media }}
{% endif %}
{% endblock %}

{% block content %}
<main class="container py-4">
	{% if announcements %}
	{% include "event/overview_announcements.html" %}
	{% endif %}

	{% include "event/overview_events.html" %}
	<hr />
	<div class="row">
		<div class="col-12 col-sm-6 py-1">
			<a class="btn btn-primary btn-lg w-100" href="/chat/lobby" role="button">
				<i class="fa fa-comment-alt"></i> Chat
			</a>
		</div>
		<div class="col-12 col-sm-6 py-1">
			<a class="btn btn-primary btn-lg w-100" target="_blank" href="https://programm.froscon.de" role="button">
				<i class="fa fa-calendar-alt"></i> {% if LANGUAGE_CODE == "de" %}Fahrplan{% else %}Schedule{% endif %}
			</a>
		</div>
	</div>
	<hr />
	{% if workshops %}
	{% include "event/overview_workshops.html" %}
	{% endif %}
	{% if hangouts %}
	{% include "event/overview_hangouts.html" %}
	<hr />
	{% endif %}

	{% if partners %}
	{% include "event/overview_partners.html" %}
	{% endif %}

</main>
{% endblock %}