{% load is_bbb_mod %}

<h1 class="pt-2"><i class="fa fa-tv"></i> {% if LANGUAGE_CODE == "de" %}Vorträge{% else %}Lectures{% endif %}</h1>

<div class="row">
    {% for room in event_rooms %}
    {% if room.bbb or room.stream %}
    <div class="col-sm-{{ room.view_size }} col-12 py-1 align-self-lg-stretch d-flex flex-column">

        {% with room.current_event as event %}

        <h3 class="mb-0">{{ room.name }} :</h2>

        <div class="w-100">

            {% if event %}
            <h5>
                <a href="{{ event.link }}" class="text-reset">
                    {{ event.title }} <i class="fa fa-link"></i>
                </a>
            </h5>
            {% else %}
            <h5>
                {% if LANGUAGE_CODE == "de" %}
                Zurzeit läuft kein Vortrag in diesem Saal.
                {% else %}
                Currently there is no lecture in this room.
                {% endif %}
            </h5>
            {% endif %}

            {% if event %}
            <div class="w-100">
                <div class="d-flex w-100">
                    <div>
                        <i class="fa fa-chalkboard-teacher"></i>
                        {{ event.persons_str }}
                    </div>
                    <div class="ml-auto">
                        <i class="fa fa-clock"></i>
                        {{ event.start|date:'H:i' }} - {{ event.end|date:'H:i' }}
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="d-flex w-100">
                {% if event %}
                <div>
                    <i class="fa fa-calendar-alt"></i> 
                    <a href="{{ event.link }}">
                        {% if LANGUAGE_CODE == "de" %}Fahrplan-Eintrag{% else %}Schedule Entry{% endif %}
                    </a>
                </div>
                {% else %}
                <div>
                    <i class="fa fa-calendar-alt"></i> -
                </div>
                {% endif %}

                {% if room.bbb %}
                {% with room.bbb.get_stats as stats %}

                <div class="ml-auto">
                    <i class="fa fa-user"></i> {{ stats.participants }}
                </div>
                {% endwith %}
                {% endif %}
            </div>

            {% endwith %}

            {% with room.next_event as event %}
            {% if event %}
            <div class="small">
                <i class="fa fa-fast-forward"></i> <a href="{{ event.link }}">{{ event.start|date:'H:i' }} - {{ event.end|date:'H:i' }} {{ event.title }}</a></div>
            {% endif %}
            {% endwith %}
        </div>


        {% if not room.bbb or room.bbb.get_stats.running %}
        <a class="btn btn-primary btn-lg w-100 mt-auto" href="{{ room.link }}" role="button">
        {% elif room.bbb and room.bbb|is_bbb_mod:request.user %}
        <a class="btn btn-secondary btn-lg w-100 mt-auto" href="{{ room.link }}" role="button">
        {% else %}
        <a class="btn btn-secondary btn-lg w-100 mt-auto disabled" href role="button">
        {% endif %}
            {% if LANGUAGE_CODE == "de" %}
            Ansehen
            {% else %}
            Watch
            {% endif %}
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>