{% load is_bbb_mod %}

<h1><i class="fa fa-wrench"></i> Workshops</h1>
{% for workshop in workshops %}
{% if workshop.bbb %}
<div class="row">
    <div class="col-sm-8 col-12 py-1">
        <div class="small">
            {{ workshop.start|date:'H:i' }} - {{ workshop.end|date:'H:i' }}
        </div>
        <h5 class="mb-0">
            {{ workshop.title }}
        </h5>
        <div class="small">
            <i class="fa fa-sm fa-chalkboard-teacher"></i>
            {{ workshop.persons_html|safe }}
        </div>
    </div>
    <div class="col-sm-4 col-12 py-1">
        {% if workshop.bbb.get_stats.running %}
        <a class="btn btn-primary btn-lg w-100" href="{{ workshop.bbb.link }}" role="button">
            <div class="d-flex w-100">
                <div class="mx-auto">
                    Join
                </div>
                <div>
                    | <i class="fa fa-sm fa-user"></i> {{ workshop.bbb.get_stats.participants }}
                </div>
            </div>
        </a>
        {% elif workshop.bbb|is_bbb_mod:request.user %}
        <a class="btn btn-primary btn-lg w-100" href="{{ workshop.bbb.link }}" role="button">
            <div class="d-flex w-100">
                <div class="mx-auto">
                    Start
                </div>
                <div>
                    | <i class="fa fa-sm fa-user"></i> 0
                </div>
            </div>
        </a>
        {% else %}
        <a class="btn btn-secondary btn-lg w-100 disabled" href role="button">
            <div class="d-flex w-100">
                <div class="mx-auto">
                    Join
                </div>
                <div>
                    | <i class="fa fa-sm fa-user"></i> 0
                </div>
            </div>
        </a>
        {% endif %}
    </div>
</div>
<hr />
{% endif %}
{% endfor %}
