{% extends "base.html" %}
{% load i18n %}
{% load is_bbb_mod %}

{% block content %}
<main class="container py-4">
	{% if announcements %}
	<h1><i class="fa fa-bullhorn"></i> {% if LANGUAGE_CODE == "de" %}Ankündigungen{% else %}Announcements{% endif %}</h1>
	{% for announcement in announcements %}
	<div class="row">
		<div class="col py-1">
			{{ announcement.html|safe }}
		</div>
	</div>
	<div class="border-top my-3"></div>
	{% endfor %}
	{% endif %}

	<h1><i class="fa fa-tv"></i> {% if LANGUAGE_CODE == "de" %}Vorträge{% else %}Lectures{% endif %}</h1>

	<div class="row">
		{% for room in event_rooms %}
		{% if room.bbb or room.stream %}
		<div class="col-sm-{{ room.view_size }} col-12 py-1">
			{% if not room.bbb or room.bbb.get_stats.running %}
			<a class="btn btn-primary btn-lg w-100" href="{% if room.bbb %}/bbb/{{ room.bbb.id }}{% else %}/stream/{{ room.id }}{% endif %}" role="button">
				{{ room.name }}
			</a>
			{% elif room.bbb and room.bbb|is_bbb_mod:request.user %}
			<a class="btn btn-secondary btn-lg w-100" href="{% if room.bbb %}/bbb/{{ room.bbb.id }}{% else %}/stream/{{ room.id }}{% endif %}" role="button">
				{{ room.name }}
			</a>
			{% else %}
			<div class="btn btn-secondary btn-lg w-100 disabled">
				{{ room.name }}
			</div>
			{% endif %}
			{% with room.current_event as event %}
			{% if event %}
			<span style='font-size:12px'>{{ event.start|date:'H:i' }} - {{ event.end|date:'H:i' }}</span><br/>
			<a href="event/{{ event.id }}">{{ event.title }}</a><br/>
			{{ event.persons_html|safe }}<br />
			{% endif %}
			{% endwith %}
			{% with room.next_event as event %}
			{% if event %}
			<span style='font-size:12px'>Next Up: <a href="/event/{{ event.id }}">{{ event.start|date:'H:i' }} - {{ event.end|date:'H:i' }} {{ event.title }}</a></span>
			{% endif %}
			{% endwith %}
			{% if room.bbb %}
			{% with room.bbb.get_stats as stats %}
			<br/>
			<span style='font-size:12px'>
				{% if stats.running %}
					{% if LANGUAGE_CODE == "de" %}
					{{ stats.participants }} Teilnehmer</span>
					{% else %}
					{{ stats.participants }} participants</span>
					{% endif %}
				{% else %}
					{% if LANGUAGE_CODE == "de" %}
					Dieser Raum ist (noch) nicht aktiv
					{% else %}
					This room is not (yet) active
					{% endif %}
				{% endif %}
			</span>
			{% endwith %}
			{% endif %}
		</div>
		{% endif %}
		{% endfor %}
	</div>
	<div class="border-top my-3"></div>

	<div class="row">
		<div class="col-sm-6 col-12">
			<a class="btn btn-primary btn-lg w-100" href="/chat/lobby" role="button">
				Chat
			</a>
		</div>
		<div class="col-sm-6 col-12">
			<a class="btn btn-primary btn-lg w-100" href="https://programm.froscon.de" role="button">
				{% if LANGUAGE_CODE == "de" %}Fahrplan{% else %}Schedule{% endif %}
			</a>
		</div>
	</div>
	<div class="border-top my-3"></div>


	{% if workshops %}
	<h1><i class="fa fa-wrench"></i> Workshops</h1>
	{% for workshop in workshops %}
	{% if workshop.bbb %}
	<div class="row">
		<div class="col-sm-8 col-12 py-1">
			<span style='font-size:12px'>{{ workshop.start|date:'H:i' }} - {{ workshop.end|date:'H:i' }}</span><br/>
			{% if workshop.nextup %}Next Up: {% endif %}{{ workshop.title }}<br/>
			<span style='font-size:12px'>{{ workshop.persons_html|safe }}</span>
		</div>
		<div class="col-sm-4 col-12 py-1">
			{% if workshop.bbb.get_stats.running %}
			<a class="btn btn-primary btn-lg w-100" href="/bbb/{{ workshop.bbb.id }}" role="button">
				Join
			</a>
			{% elif workshop.bbb|is_bbb_mod:request.user %}
			<a class="btn btn-primary btn-lg w-100" href="/bbb/{{ workshop.bbb.id }}" role="button">
				Start
			</a>
			{% else %}
			<div class="btn btn-secondary btn-lg w-100 disabled" role="button">
				Join
			</div>
			{% endif %}
			{% if workshop.bbb.get_stats.running %}<br/><center><span style='font-size:12px'>{{ workshop.bbb.get_stats.participants }} Teilnehmer</span></center>{% endif %}
			{% if workshop.bbb and not workshop.bbb.get_stats.running %}<br/><center><span style='font-size:12px'>{% if LANGUAGE_CODE == "de" %}Dieser Raum ist (noch) nicht aktiv{% else %}This room is not (yet) active{% endif %}</span></center>{% endif %}
		</div>
	</div>
	<div class="border-top my-3"></div>
	{% endif %}
	{% endfor %}

	{% if hangouts %}
	<h1><i class="fa fa-comments"></i> Community</h1>
	<div class="row">
		{% for hangout in hangouts %}
		<div class="col-sm-6 col-12">
			{% with hangout.get_stats as stats %}
			{% if stats.running %}
			<a class="btn btn-primary btn-lg w-100" href="/bbb/{{ hangout.id }}" role="button">
				{{ hangout.name }}
			</a>
			{% elif hangout|is_bbb_mod:request.user or hangout.start_as_guest %}
			<a class="btn btn-secondary btn-lg w-100" href="/bbb/{{ hangout.id }}" role="button">
				{{ hangout.name }}
			</a>
			{% else %}
			<div class="btn btn-secondary btn-lg w-100 disabled">
				{{ hangout.name }}
			</div>
			{% endif %}
			<br/><center><span style='font-size:12px'>
					{% if stats.running %}
						{{ stats.participants }} Teilnehmer
					{% else %}
						{% if LANGUAGE_CODE == "de" %}Dieser Raum ist leer{% else %}This room is empty{% endif %}
					{% endif %}
				</span>
			</center>
			{% endwith %}
		</div>
		{% endfor %}
	</div>
	<div class="border-top my-3"></div>
	{% endif %}

	<h1><i class="fa fa-user-friends"></i> {% if LANGUAGE_CODE == "de" %}Unsere Partner{% else %}Our partners{% endif %}</h1>
	<div class="row align-items-center align-content-around text-center mb-10 w-100" style='padding-top:16px;'>
		{% for partner in partners %}
		<figure class="col partner-logo">
			<a href="/partner/{{ partner.id }}" class="{% if partner.bbb.get_stats.running %}partneronline{% else %}partneroffline{% endif %}" title="{{ partner.name }}">
				<img src="{{ partner.logo.url }}" alt="{{ partner.name }}">
			</a>
		</figure>
		{% endfor %}
	</div>
	{% endif %}

</main>
{% endblock %}
