{% extends "base.html" %}
{% load i18n %}
{% load is_bbb_mod %}
{% load static %}

{% block title %}{{ room.name }} - {% endblock %}

{% block assets %}
	<link type="text/css" rel="stylesheet" href="{% static "player/mejs/mediaelementplayer.min.css" %}" />
	<link type="text/css" rel="stylesheet" href="{% static "player/player.css" %}" />
	<script type="text/javascript" src="{% static "player/lib/jquery.min.js" %}"></script>
	<script type="text/javascript" src="{% static "player/lib/jquery.scrollTo.min.js" %}"></script>
	<script type="text/javascript" src="{% static "scripts/bootstrap.min.js" %}"></script>
	<script type="text/javascript" src="{% static "player/mejs/mediaelement-and-player.min.js" %}"></script>
	<script type="text/javascript" src="{% static "player/voc-player/player.js" %}"></script>
	<script type="text/javascript">window.Clappr = window.VOCPlayer;</script>
	<script type="text/javascript" src="{% static "player/voc-player/clappr-thumbnails-plugin.js" %}"></script>
	<script type="text/javascript" src="{% static "player/voc-player/clappr-playback-rate-plugin.js" %}"></script>
	<script type="text/javascript" src="{% static "player/lustiges-script.js" %}"></script>
{% endblock %}

{% block content %}
<main class="container">
	<div>
		<h1 class="d-md-block d-none">{{ room.name }}</h1>
		<h3 class="d-md-none d-block">{{ room.name }}</h3>
	</div>

	<div class="w-100 aspect-ration-16-9" style="position: relative;">
		<div class="video-wrap p-absolute w-100 h-100" style="position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px;" data-voc-player data-stream="{{ room.stream }}" data-poster="https://cdn.c3voc.de/thumbnail/{{ room.stream }}/poster.jpeg" data-preferred-language="native">
		</div>
	</div>

	{% with room.current_event as event %}
	{% if event %}
	<div class="py-2">
		<span style='font-size:12px'>{{ event.start|date:'H:i' }} - {{ event.end|date:'H:i' }}</span>
		<a href="/event/{{ event.id }}">{{ event.title }}</a>
		({{ event.persons_html|safe }})
	</div>
	{% endif %}
	{% endwith %}

	<div class="row w-100">
		{% if room.bbb %}
		<div class="col-sm-6 col-12 p-1">
			<a class="btn btn-primary btn-lg w-100" href="{{ room.bbb.link }}" role="button">
				{% if LANGUAGE_CODE == "de" %}Videokonferenz{% else %}Video conference{% endif %}
			</a>
		</div>
		{% endif %}
		{% if room.bbb|is_bbb_mod:request.user %}
		<div class="col-sm-6 col-12 p-1">
			<a class="btn btn-primary btn-lg w-100" href="{{ room.bbb.link }}/setlive" role="button">
				Stream Control
			</a>
		</div>
		{% endif %}
		{% if room.stream_moreformats %}
		<div class="col-sm-6 col-12 p-1">
			<a class="btn btn-primary btn-lg w-100" href="{{ room.stream_moreformats }}" role="button">
				{% if LANGUAGE_CODE == "de" %}Mehr Formate{% else %}More formats{% endif %}
			</a>
		</div>
		{% endif %}
	</div>
</main>
{% endblock %}
